* {
    background-color:aliceblue;
}

.form {
    margin-bottom: 20px;
}

.houses, .furniture, .map {
    float: left;
    height: 500px;
    text-align: center;
    border:solid;
    border-color: blue;
}
.houses, .furniture {
    width: 20%;
  }
  
.map {
    width: 50%;
  }   

.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 0.3rem solid blue;
    
}

.card-section {
    padding: 0.3rem;
}

.card-img {
    width: 40%;
    padding: 0.3rem;
}

.card-address {
    font-size: 1rem;
}

.card-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-stats {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}





#title {
    align-items:center;
    text-align:center;
    color:white;
    font-family: 'Fakt Pro', sans-serif;
}
#title span {
    background-color: red;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    padding: 8px;
}
#zipEntryText{
    background-color: rgb(237, 237, 237);
}
#zipEntrySubmit{
    background-color: blue;
    color:white;
    font-weight: bold;
}
#zipEntrySubmit:hover{
    color: black;
    background-color: greenyellow;
    cursor: pointer;
}
