* {
    background-color:aliceblue;
}
body { 
    height: 100%;
    margin: 0;
}
.form {
    margin-bottom: 20px;
    background-color: white;
    border: solid;


}

#output-rows{
    display:flex;
    width: 100%;
}

.houses, .furniture, .map {
    float: left;
    height: 500px;
    text-align: center;
    outline-style:solid;
    outline-color: blue;
}
.houses, .furniture {
    width: 25%;
    overflow-y:scroll;
  }
  .map {
    width:100%;
  }
@media all and (max-width: 600px){
    #output-rows{
        flex-wrap:wrap;
        height: 200px;
    }
    .map {
    width: 100%;
    order:3;
  }  
  
  .houses{
    width:50%;
    order:1;
  } 
  
  .furniture {
    width:50%;
    order:2;
  }
}

#title {
    align-items:center;
    text-align:center;
    color:white;
    font-family: 'Fakt Pro', 'sans-serif';
}
#title span {
    background-color: red;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    padding: 8px;
}
#zipEntryText{
    background-color: rgb(237, 237, 237);
}
#zipEntrySubmit{
    background-color: blue;
    color:white;
    font-weight: bold;
}
#zipEntrySubmit:hover{
    color: black;
    background-color: greenyellow;
    cursor: pointer;
}